img {
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 500px;
}

.post-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 50px;
}

.post-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.button-wrapper p {
	margin: 10px;
}